<div>
  <div class="kit__utils__heading">
    <h5>
      <span class="mr-3">Antd Tables</span>
      <a href="https://ant.design/components/table" rel="noopener noreferrer" target="_blank"
        class="btn btn-sm btn-light">
        Official Documentation
        <i class="fe fe-corner-right-up"></i>
      </a>
    </h5>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="mb-4">
        <strong>Dynamic</strong>
      </h5>
      <kit-antd-table-dynamic></kit-antd-table-dynamic>
      <h5 class="mb-4">
        <strong>Basic Usage</strong>
      </h5>
      <kit-antd-table-basic></kit-antd-table-basic>
      <h5 class="mb-4">
        <strong>Row Selection</strong>
      </h5>
      <kit-antd-table-row-selection></kit-antd-table-row-selection>
      <h5 class="mb-4">
        <strong>Filter and Sorter</strong>
      </h5>
      <kit-antd-table-filter></kit-antd-table-filter>
      <h5 class="mb-4">
        <strong>Reset Filters and Sorters</strong>
      </h5>
      <kit-antd-table-reset-filter></kit-antd-table-reset-filter>
      <h5 class="mb-4">
        <strong>Customized filter panel</strong>
      </h5>
      <kit-antd-table-custom-filter></kit-antd-table-custom-filter>
      <h5 class="mb-4">
        <strong>Sizes</strong>
      </h5>
      <kit-antd-table-size></kit-antd-table-size>
      <h5 class="mb-4">
        <strong>Bordered title and footer</strong>
      </h5>
      <kit-antd-table-border></kit-antd-table-border>
      <h5 class="mb-4">
        <strong>Expandable Row</strong>
      </h5>
      <kit-antd-table-expanded></kit-antd-table-expanded>
      <h5 class="mb-4">
        <strong>colSpan and rowSpan</strong>
      </h5>
      <kit-antd-table-span></kit-antd-table-span>
      <h5 class="mb-4">
        <strong>Tree data</strong>
      </h5>
      <kit-antd-table-tree></kit-antd-table-tree>
      <h5 class="mb-4">
        <strong>Fixed Header</strong>
      </h5>
      <kit-antd-table-fixed-header></kit-antd-table-fixed-header>
      <h5 class="mb-4">
        <strong>Fixed Columns</strong>
      </h5>
      <kit-antd-table-fixed-columns></kit-antd-table-fixed-columns>
      <h5 class="mb-4">
        <strong>Fixed Columns and Header</strong>
      </h5>
      <kit-antd-table-fixed-all></kit-antd-table-fixed-all>
      <h5 class="mb-4">
        <strong>Grouping table head</strong>
      </h5>
      <kit-antd-table-grouping></kit-antd-table-grouping>
      <h5 class="mb-4">
        <strong>Editable Cells</strong>
      </h5>
      <kit-antd-table-editable-cells></kit-antd-table-editable-cells>
      <h5 class="mb-4">
        <strong>Editable Rows</strong>
      </h5>
      <kit-antd-table-editable-rows></kit-antd-table-editable-rows>
    </div>
  </div>
</div>