<h2>
  Expenses
</h2>
<div class="mr-3" style="float: 
right;">
  <button nz-button nzType="primary">Add Expenses</button>
</div>
<br>
<br>
<div class="card">
  <div class="card-body">


    <nz-table #basicTable [nzData]="" class="kit__utils__table mb-4">
      <thead>
        <tr>
          <th>Description</th>
          <th>Amount</th>
          <th>PaymentType</th>

          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <span class="icon">
              <i class="fe fe-edit-3"></i>
            </span>
          </td>
          <td>
            <span class="icon">
              <i class="fe fe-trash-2"></i>
            </span>
          </td>


        </tr>
      </tbody>
    </nz-table>
  </div>
</div>