<div>
  <div class="kit__utils__heading">
    <h5>Tables Widgets</h5>
  </div>
  <div class="mb-5">
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <div>
          <h2 class="badge-example">
            Table / 1
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-table-1></kit-table-1>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            Table / 2
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-table-2></kit-table-2>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            Table / 3
          </h2>
          <div class="card">
            <kit-table-3></kit-table-3>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12">
        <div>
          <h2 class="badge-example">
            Table / 4
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-table-4></kit-table-4>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            Table / 5
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-table-5></kit-table-5>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            Table / 6
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-table-6></kit-table-6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div>
          <h2 class="badge-example">
            Table / 7
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-table-7></kit-table-7>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div>
          <h2 class="badge-example">
            Table / 8
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-table-8></kit-table-8>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>