<h2>
    UrbanPiper Hub
</h2>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <h5 class="mb-3">
                    <strong>Checkable</strong>
                </h5>
                <nz-tree #nzTreeComponent [nzData]="nodes" nzCheckable [nzCheckedKeys]="defaultCheckedKeys"
                    [nzExpandedKeys]="defaultExpandedKeys" [nzSelectedKeys]="defaultSelectedKeys"
                    (nzClick)="nzClick($event)" (nzCheckBoxChange)="nzCheck($event)" (nzExpandChange)="nzCheck($event)">
                </nz-tree>
            </div>
        </div>
    </div>
</div>