<div>
  <div class="kit__utils__heading">
    <h5>Lists Widgets</h5>
  </div>
  <div class="mb-5">
    <div class="row">
      <div class="col-xl-4 col-lg-12">
        <div>
          <h2 class="badge-example">
            List / 1
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-1></kit-list-1>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 5
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-5></kit-list-5>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 8
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-8></kit-list-8>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 11
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-11></kit-list-11>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 14
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-14></kit-list-14>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 17
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-17></kit-list-17>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 20
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-20></kit-list-20>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div>
          <h2 class="badge-example">
            List / 2
          </h2>
          <div class="card">
            <kit-list-2></kit-list-2>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 6
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-6></kit-list-6>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 9
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-9></kit-list-9>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 12
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-12></kit-list-12>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 15
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-15></kit-list-15>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 19
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-19></kit-list-19>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div>
          <h2 class="badge-example">
            List / 3
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-3></kit-list-3>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 4
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-4></kit-list-4>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 7
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-7></kit-list-7>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 10
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-10></kit-list-10>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 13
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-13></kit-list-13>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 16
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-16></kit-list-16>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 18
          </h2>
          <div class="card">
            <div class="card-body">
              <kit-list-18></kit-list-18>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h2 class="badge-example">List / 21</h2>
        <kit-list-21></kit-list-21>
      </div>
      <div class="col-lg-4">
        <h2 class="badge-example">List / 21-1</h2>
        <kit-list-21v1></kit-list-21v1>
      </div>
      <div class="col-lg-4">
        <h2 class="badge-example">List / 21-2</h2>
        <kit-list-21v2></kit-list-21v2>
      </div>
    </div>
  </div>
</div>