<!-- Sell Page Main cards -->
<div class="row" *ngIf="sectionid == 0">
    <!-- <a class="col-xl-3 col-lg-3" *ngFor="let card of cards" (click)="createorder(card.ordertypeid)">
        <div class="card">
            <div class="card-body">
                <div class="item mb-xl-0 mb-3">
                    <span class="icon">
                        <i class="{{card.icon}}"></i>
                    </span>
                    <div class="desc">
                        <span class="title">{{card.name}}</span>
                        <p>Waiting for review</p>
                    </div
                    <div class="line {{card.class}}"></div>
                </div>
            </div>
        </div>
    </a> -->
    <a class="col-xl-3 col-lg-3" (click)="createorder(5)">
        <div class="card">
            <div class="card-body">
                <div class="item mb-xl-0 mb-3">
                    <span class="icon">
                        <i class="fe fe-zap"></i>
                    </span>
                    <div class="desc">
                        <span class="title">Quick Order</span>
                        <p>Waiting for review</p>
                    </div>
                    <div class="line bg-success"></div>
                </div>
            </div>
        </div>
    </a>
    <a class="col-xl-3 col-lg-3" (click)="vieworderlist(1)">
        <div class="card">
            <div class="card-body">
                <div class="item mb-xl-0 mb-3">
                    <span class="icon">
                        <i class="fa fa-cutlery"></i>
                    </span>
                    <div class="desc">
                        <span class="title">Dine In</span>
                        <p>Waiting for review</p>
                    </div>
                    <div class="line bg-primary"></div>
                </div>
            </div>
        </div>
    </a>
    <a class="col-xl-3 col-lg-3" (click)="vieworderlist(2)">
        <div class="card">
            <div class="card-body">
                <div class="item mb-xl-0 mb-3">
                    <span class="icon">
                        <i class="fe fe-briefcase"></i>
                    </span>
                    <div class="desc">
                        <span class="title">Take Away</span>
                        <p>Waiting for review</p>
                    </div>
                    <div class="line bg-warning"></div>
                </div>
            </div>
        </div>
    </a>
    <a class="col-xl-3 col-lg-3" (click)="vieworderlist(3)">
        <div class="card">
            <div class="card-body">
                <div class="item mb-xl-0 mb-3">
                    <span class="icon">
                        <i class="fa fa-send-o"></i>
                    </span>
                    <div class="desc">
                        <span class="title">Delivery</span>
                        <p>Waiting for review</p>
                    </div>
                    <div class="line bg-gray-6"></div>
                </div>
            </div>
        </div>
    </a>
    <a class="col-xl-3 col-lg-3" (click)="vieworderlist(4)">
        <div class="card">
            <div class="card-body">
                <div class="item mb-xl-0 mb-3">
                    <span class="icon">
                        <i class="fa fa-truck"></i>
                    </span>
                    <div class="desc">
                        <span class="title">Pick Up</span>
                        <p>Waiting for review</p>
                    </div>
                    <div class="line bg-red"></div>
                </div>
            </div>
        </div>
    </a>
    <a class="col-xl-3 col-lg-3" (click)="vieworderlist(6)">
        <div class="card">
            <div class="card-body">
                <div class="item mb-xl-0 mb-3">
                    <span class="icon">
                        <i class="fe fe-globe"></i>
                    </span>
                    <div class="desc">
                        <span class="title">Online Orders</span>
                        <p>Waiting for review</p>
                    </div>
                    <div class="line bg-dark"></div>
                </div>
            </div>
        </div>
    </a>
</div>

<div *ngIf="sectionid == 1">
    <!-- Dine In page -->
    <div *ngIf="orderpageid == 1">
        <div>
            <div class="headleft" style="float: left;">
                <div class="btn-group mr-2 mb-2">
                    <button type="button" class="btn" (click)="createorder(5)">Quick Order</button>
                    <button type="button" class="btn" (click)="vieworderlist(1)">Dine In </button>
                    <button type="button" class="btn" (click)="vieworderlist(2)">Takeaway </button>
                    <button type="button" class="btn" (click)="vieworderlist(3)">Advance Order</button>
                    <!-- <button type="button" class="btn" (click)="vieworderlist(6)">Current Order</button> -->
                    <button type="button" class="btn" (click)="vieworderlist(6)">Online Order</button>
                </div>
            </div>
            <div class="headright" style="float: right;">
                <button type="button" class="btn btn-danger" (click)="sectionid = 0">Back</button>
            </div>
        </div>
        <br><br>
        <div class="card card-body">
            <div>
                <div style="float: left;" class="left">
                    <div class="d-inline-block mb-3 mr-3">
                        <nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear
                            nzPlaceHolder="Choose">
                            <nz-option nzValue="gf" nzLabel="Ground Floor"></nz-option>
                            <nz-option nzValue="1f" nzLabel="1 Floor"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div style="float: right;" class="right">
                    <div class="btn-group mr-2 mb-2">
                        <button type="button" class="btn">All Table</button>
                        <button type="button" class="btn">Empty</button>
                        <button type="button" class="btn">Seated</button>
                    </div>
                </div>
            </div>
            <br><br>
            <a class="col-xl-3 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <!-- <label style="padding-left: 10%;">TABLE</label> -->
                        <div class="item mb-xl-0 mb-3">
                            <span class="icon">
                                <img src="./assets/images/Extra/table-2.0.png" alt="" width="35%">
                            </span>
                            <br>
                            <div class="desc" style="padding-left: 25%;">
                                <span class="title" style="font-size: large;">Counter</span>
                            </div>
                            <br>
                            <div class="line bg-success"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Take Away Delivery Pickup Page -->
    <div *ngIf="orderpageid == 2 || orderpageid == 3 || orderpageid == 4">
        <div>
            <div class="headleft" style="float: left;">
                <div class="btn-group mr-2 mb-2">
                    <button type="button" class="btn" (click)="createorder(5)">Quick Order</button>
                    <button type="button" class="btn" (click)="vieworderlist(1)">Dine In </button>
                    <button type="button" class="btn" (click)="vieworderlist(2)">Takeaway </button>
                    <button type="button" class="btn" (click)="vieworderlist(3)">Advance Order</button>
                    <!-- <button type="button" class="btn" (click)="vieworderlist(6)">Current Order</button> -->
                    <button type="button" class="btn" (click)="vieworderlist(6)">Online Order</button>
                </div>
            </div>
            <div class="headright" style="float: right;">
                <button type="button" class="btn btn-danger" (click)="sectionid = 0">Back</button>
            </div>
        </div>
        <br><br><br>
        <div class="card card-body">
            <div>
                <div style="float: left;" class="left">
                    <div class="d-inline-block mb-3 mr-3">
                        <button nz-button nzType="default" [nzSize]="size" class="mr-3 mb-3" (click)="createorder(5)"><i
                                nz-icon nzType="plus" nzTheme="outline"></i>New {{(orderpageid == 2)? 'Take Away' : ''}}
                            {{(orderpageid == 3)?
                            'Delivery' : ''}} {{(orderpageid == 4)? 'PickUp' : ''}}</button>
                    </div>
                </div>
                <div style="float: right;" class="right">
                    <div class="btn-group mr-2 mb-2">
                        <button type="button" class="btn">All</button>
                        <button type="button" class="btn">Pending</button>
                        <button type="button" class="btn">Completed</button>
                        <button type="button" class="btn">Cancelled</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <nz-input-group nzSearch [nzAddOnAfter]="takeaway">
                        <input type="text" nz-input placeholder="Search By Invoice No. or Customer Details..."
                            [(ngModel)]="takawayinput" (input)="onInput($event.target?.value)" />
                    </nz-input-group>
                    <ng-template #takeaway>
                        <button nz-button nzType="default" nzSearch (click)="takawayinput=''"><i nz-icon nzType="close"
                                nzTheme="outline"></i></button>
                    </ng-template>
                </div>
                <div class="d-inline-block mb-3 mr-3 pl-2">
                    <nz-select style="width: 250px;" nzAllowClear nzPlaceHolder="Sort">
                        <nz-option nzLabel="Sort By Ordered Date Time"></nz-option>
                        <nz-option nzLabel="Sort By Delivered Date Time"></nz-option>
                    </nz-select>
                </div>
                <div class="mb-5 pl-1">
                    <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"></nz-range-picker>
                </div>
            </div>
            <nz-table>
                <thead>
                    <tr>
                        <th>Order No.</th>
                        <th>Customer</th>
                        <th>Ordered Date</th>
                        <th>Delivery Date</th>
                        <th>Paid/TotalAmt</th>
                        <th>Status</th>
                        <th class="text-center"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>1111111</td>
                        <td>111111</td>
                        <td>1111111</td>
                        <td>11111</td>
                        <td>1111111</td>
                        <td>111111111111111</td>
                        <td>
                            <div class="row" style="margin-left: 15%;">
                                <div>
                                    <button class="btnstyle"
                                        [ngClass]="{'btn btn-warning':!user.active, 'btn btn-success':user.active}"
                                        (click)="click(user)">
                                        {{user.active ? 'Delivered':'Food Ready '}}
                                    </button>
                                </div>
                                <div style="margin-left: 10%;">
                                    <button nz-button nzType="danger">Cancel</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <br><br>
        </div>
    </div>

    <!-- Online Order Page -->
    <div *ngIf="orderpageid == 6">
        <div>
            <div class="headleft" style="float: left;">
                <div class="btn-group mr-2 mb-2">
                    <button type="button" class="btn" (click)="createorder(5)">Quick Order</button>
                    <button type="button" class="btn" (click)="vieworderlist(1)">Dine In </button>
                    <button type="button" class="btn" (click)="vieworderlist(2)">Takeaway </button>
                    <button type="button" class="btn" (click)="vieworderlist(3)">Advance Order</button>
                    <!-- <button type="button" class="btn" (click)="vieworderlist(6)">Current Order</button> -->
                    <button type="button" class="btn" (click)="vieworderlist(6)">Online Order</button>
                </div>
            </div>
            <div class="headright" style="float: right;">
                <div class="btn-group">
                    <button nz-button nzType="link"><i nz-icon nzType="sound" nzTheme="outline"></i></button>
                    <button type="button" class="btn btn-danger" (click)="sectionid = 0">Back</button>
                </div>
            </div>
        </div>
        <br><br>
        <div class="card card-body">
            <div class="btn-group mr-2 mb-2">
                <button type="button" class="btn">PLACED <span class="badge badge-secondary">0</span></button>
                <button type="button" class="btn">IN PROGRESS <span class="badge badge-secondary">0</span></button>
                <button type="button" class="btn">COMPLETED <span class="badge badge-secondary">0</span></button>
                <button type="button" class="btn">CANCELLED <span class="badge badge-secondary">0</span></button>
            </div>
            <br>
            <nz-table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Ordered @</th>
                        <th>Amount</th>
                        <th>Delivery Type</th>
                        <th>Prep Time</th>
                        <th>Rider</th>
                        <th>Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let onlineuser of onlineusers">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="row" style="margin-left: 12%;">
                                <div>
                                    <button class="btnstyle"
                                        [ngClass]="{'btn btn-warning':!onlineuser.onlineactive, 'btn btn-success':onlineuser.onlineactive}"
                                        (click)="onlineclick(onlineuser)">
                                        {{onlineuser.onlineactive ? 'Delivered':'Food Ready '}}
                                    </button>
                                </div>
                                <div style="margin-left: 10%;">
                                    <button nz-button nzType="danger" class="mr-3 mb-3">Cancel</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<!-- Main Cart Page -->
<div *ngIf="sectionid == 2" style="padding-top: 0%;">
    <div class="row pl-3">
        <div class="btn-group mr-2 mb-2">
            <button type="button" class="btn" (click)="createorder(5)">Quick Order</button>
            <button type="button" class="btn" (click)="vieworderlist(1)">Dine In </button>
            <button type="button" class="btn" (click)="vieworderlist(2)">Takeaway </button>
            <button type="button" class="btn" (click)="vieworderlist(3)">Advance Order</button>
            <button type="button" class="btn" (click)="vieworderlist(6)">Online Order</button>
        </div>
        <div class="d-flex flex-row-reverse" style="padding-left:20%;">
            <div class="row pl-4 pt-1">
                <a (click)="openCustomClass(bulkdiscount)">
                    Bulk Discount |
                </a>
                <a (click)="openCustomClass(couponcode)">
                    | Coupon Code |
                </a>
                <a (click)="openCustomClass(Additioncharge)">
                    | Addition Charge
                </a>
            </div>
            <div>
                <input type="tel" nz-input placeholder="Customer Mobile (F8)" />
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-2 max-h-70">
            <ul class="list-group">
                <a href="javascript:void(0);" (click)="selectedcategoryid = 0"
                    [class.cat-active]="selectedcategoryid==0" class="list-group-item-action list-group-item"
                    style="background-color:#4b7cf3; position: sticky; z-index: 555; top: 0;">All
                </a>
                <div *ngFor="let pcat of parentcategories">
                    <a href="javascript:void(0);" (click)="selectedcategoryid = pcat.Id"
                        [class.cat-active]="selectedcategoryid == pcat.Id"
                        class="list-group-item-action list-group-item pcat"><code>[#]</code>{{pcat.Category}}
                    </a>
                    <ul class="list-group">
                        <a href="javascript:void(0);" (click)="selectedcategoryid = ccat.Id"
                            *ngFor="let ccat of childcategories | parentcategory: pcat.Id"
                            [class.cat-active]="selectedcategoryid == ccat.Id"
                            class="list-group-item-action list-group-item">{{ccat.Category}}</a>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="col-sm  max-h-70">
            <div class="card card-body pt-0">
                <div style="position: sticky; top: 0; z-index: 555;">
                    <div class="row">
                        <!-- Search filter  -->
                        <div style="width: 70%;">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                <input type="text" nz-input placeholder="Search Product..." [(ngModel)]="inputValue"
                                    (input)="onInput($event.target?.value)" [nzAutocomplete]="auto" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="default" nzSearch (click)="inputValue=''"><i nz-icon
                                        nzType="close" nzTheme="outline"></i></button>
                            </ng-template>
                            <nz-autocomplete nzBackfill #auto (selectionChange)="fieldselect($event);">
                                <nz-auto-option *ngFor="let product of autocompleteproducts" [nzValue]="product.Product"
                                    id="{{product.Id}}">
                                    {{ product.Product }}
                                </nz-auto-option>
                            </nz-autocomplete>
                        </div>
                        <!-- Quantity -->
                        <div style="width: 30%;">
                            <div class="input-group">
                                <nz-input-group nzSearch [nzAddOnAfter]="Quantity">
                                    <input type="number" nz-input placeholder="Quantity" />
                                </nz-input-group>
                                <ng-template #Quantity>
                                    <button nz-button nzType="default" nzSearch><i nz-icon nzType="plus"
                                            nzTheme="outline"></i></button>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6" *ngFor="let product of products | productfilter: selectedcategoryid"
                        (click)="addProduct(product )">
                        <a>
                            <div class="card" [ngClass]="{'text-info' : item.OptionGroup != undefined}">
                                <div class="card-body px-0 py-0 pt-2">
                                    <div class="prod-item mb-xl-0 mb-3">
                                        <div class="desc">
                                            <span class="title">{{product.Product}}</span>
                                            <p>&#8377;{{product.Price}}</p>
                                        </div>
                                        <div [ngClass]="{'bg-success': product.ProductTypeId == 1, 'bg-danger': product.ProductTypeId == 2, 'bg-warning': product.ProductTypeId == 3, 'bg-gray-6': product.ProductTypeId == 4}"
                                            class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm max-h-65">
            <div class="cart-div">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-left" scope="col"
                                style="position: sticky; top: 0; z-index: 555; background-color: white;">Product</th>
                            <th scope="col" class="text-center"
                                style="position: sticky; top: 0; z-index: 555; background-color: white;">Quantity</th>
                            <th scope="col" style="position: sticky; top: 0; z-index: 555; background-color: white;">
                                Amount</th>
                            <th scope="col" style="position: sticky; top: 0; z-index: 555; background-color: white;"
                                class="pr-0">
                                Actions
                                <a class="pt-0 ml-2">|<i nz-icon nzType="clear" nzTheme="outline"></i>|</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order.Items; index as i">
                            <td class="text-left pl-1" style="max-width: 80px;">{{item.showname}}</td>
                            <!-- <td>
                                {{ item.Quantity }}
                            </td> -->
                            <td class="text-center pl-0 pr-0">
                                <button class="btn btn-xs btn-white btn-outline-light"
                                    (click)="item.Quantity > 1 && item.Quantity = item.Quantity - 1;order.setbillamount();">
                                    -
                                </button>
                                <span class="pl-1 pr-1">{{ item.Quantity }} {{item.ComplementryQty? '(' + item.ComplementryQty + ')' : ''}}</span>
                                <button class="btn btn-xs btn-white btn-outline-light"
                                    (click)="item.Quantity = item.Quantity + 1;order.setbillamount(); ">
                                    +
                                </button>
                            </td>
                            <td class="pr-0">{{ item.TotalAmount | number: '0.2'}}</td>
                            <td>
                                <a href="javascript: void(0);" class="btn btn-sm btn-link" (click)="addfreequantity(item)">+ F</a>
                                <a href="javascript: void(0);" class="btn btn-sm btn-link"
                                    (click)="itemdetails(item)"><i class="fe fe-edit-2"></i></a>
                                <a href="javascript: void(0);" class="btn btn-sm btn-link text-danger"
                                    (click)="removeItem(item);order.OrderTypeId == 5&&order.PaidAmount = 0;"><i
                                        class="fe fe-trash-2"></i></a>
                            </td>
                        </tr>
                        <tr *ngIf="order.OrderTotDisc">
                            <td class="text-left" colspan="2">OrderDiscount</td>
                            <td class="text-left" colspan="2">-{{order.OrderTotDisc}}</td>
                        </tr>
                        <tr *ngIf="order.Charges">
                            <td class="text-left" colspan="2">Additional Charges</td>
                            <td class="text-left" colspan="2">+{{order.Charges}}</td>
                        </tr>
                        <tr *ngIf="order.TaxAmount">
                            <td class="text-left" colspan="2">Taxes</td>
                            <td class="text-left" colspan="2">+{{order.TaxAmount | number: '0.2'}}</td>
                        </tr>
                        <tr *ngIf="order.Items == 0">
                            <td colspan="4">Cart is Empty!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paymenttypes">
                <div class="card card-body">
                    <div>
                        <div class="float-left" style="width: 80%; height: 100%;">
                            <button nz-button nzType="primary" class="mr-3 mb-3"
                                (click)="openCustomClass(Rightside)">Cash</button>
                            <button nz-button nzType="primary" class="mr-3 mb-3">Credit/Debit</button>
                            <button nz-button nzType="primary" class="mr-3 mb-3">Others</button>
                            <button nz-button nzType="primary" class="mr-3 mb-3">Online Payment</button>
                            <button nz-button nzType="primary" class="mr-3 mb-3"
                                (click)="openCustomClass(vertical)">Split
                                Payment</button>
                        </div>
                        <div class="float-right" style=" width: 20%; height: 100%;">
                            <a href="#" class="btn btn-squared-default btn-success">
                                <i class="fa fa-rupee"></i>
                                <br />
                                {{order.BillAmount | number: '0.2'}}
                                <br />
                                Receive
                            </a>
                        </div>
                    </div>
                    <div class="mb-5">
                        <button nz-button nzType="default" nzBlock class="mr-5 mb-5"
                            style="background-color: #52c41a; color: white;" (click)="opendrawer()">
                            <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>Charge</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Model of Edit Order -->
<ng-template #content let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">{{order.CurrentItem.Product}}</h5> -->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h2>
            POP TEST
        </h2>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Save click')">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Do Something</button>
    </div>
</ng-template>

<!-- Modal for Option Group -->
<ng-template #prod_details let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{currentitem.Product}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height: 70vh ; overflow: auto; ">
        <div class="row">
            <div class="col-sm-12 mb-10">
                <b>TYPES : </b>
                <span class="badge"
                    [ngClass]="{ 'badge-success': currentitem.ProductTypeId == 1, 'badge-danger': currentitem.ProductTypeId == 2,'badge-warning': currentitem.ProductTypeId == 3 }"><b>{{currentitem.ProductTypeId
                        == 1? 'veg' : currentitem.ProductTypeId == 2? 'non-veg' : 'egg'}}</b></span>
            </div>
            <br>
            <div class="col-sm-6 ml-3">
                <b>VARIANTS</b>
                <div *ngFor="let item of currentitem.OptionGroup">
                    <div *ngIf="item.OptionGroupType==1">
                        <label style="color: black;"><b>{{item.Name}}</b></label>
                        <div *ngFor="let option of item.Option" class="ml-4">
                            <input class="form-check-input" type="radio" value="option.Id" name="{{item.name}}"
                                id="{{option.Name}}" [checked]="option.selected==1"
                                (change)="setvariantvalue(item,option)">
                            <label class="form-check-lable" for="{{option.Name}}">{{option.Name}} - </label>
                            <span> {{option.Price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 ml-2">
                <b>ADDONS</b>
                <div *ngFor="let item of currentitem.OptionGroup">
                    <div *ngIf="item.OptionGroupType==2">
                        <label style="color: black;"><b>{{item.Name}} - {{item.selected}} </b></label>
                        <div *ngFor="let option of item.Option" class="ml-4">
                            <input class="form-check-input" type="checkbox" name="{{option.Id}}"
                                [(ngModel)]="option.selected" id="{{option.Id}}"
                                (change)="SetAddonValue(item,option,$event.target.checked)">
                            <label class="form-check-lable" for="{{option.Id}}">{{option.Name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="form-group" style="margin-bottom: 0%;">
                <label style="color: black;" for="note"><b>NOTE</b></label>
                <textarea class="form-control" id="note" rows="3" name="NOTE" type="text"></textarea>
            </div>
            <br>
            <label style="color: black;"><b>QUANTITY</b></label>
            <div class="input-group">
                <input min="1" max="100" step="1" type="number" (input)="setcurrentitemprice()"
                    [(ngModel)]="currentitem.Quantity" class="form-control">
            </div>
            <br>
            <label style="color: black;"><b>FREE QUANTITY</b></label>
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input" #freeqty
                            (change)="$event.target.checked">
                    </div>
                </div>
                <input [disabled]=!freeqty.checked type="number" class="form-control">
            </div>
            <br>
            <!-- ----------------------------------DISCOUNT-------------------------------------- -->
            <label style="color: black;"><b>DISCOUNT {{currentitem.DiscType}} </b></label>
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" aria-label="Radio button for following text input" #cashdiscount
                            [(ngModel)]="currentitem.DiscType" [value]="1"
                            (change)="$event.target.checked&&currentitem.DiscPercent = 0; setcurrentitemprice()"
                            name="discount" id="discount1" [checked]="currentitem.DiscType == 1">
                        <!-- <label class="form-check-lable">CASH </label> -->
                    </div>
                </div>
                <input [disabled]="currentitem.DiscType == 2" (input)="setcurrentitemprice()"
                    [(ngModel)]="currentitem.DiscAmount" type="number" class="form-control" placeholder="CASH">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" aria-label="Radio button for following text input" #percentdiscount
                            [(ngModel)]="currentitem.DiscType" [value]="2"
                            (change)="$event.target.checked&&currentitem.DiscAmount = 0; setcurrentitemprice()"
                            name="discount" id="discount2" [checked]="currentitem.DiscType == 2">
                        <!-- <label class="form-check-lable">PERCENTAGE </label> -->
                    </div>
                </div>
                <input [disabled]="currentitem.DiscType == 1" (input)="setcurrentitemprice()"
                    [(ngModel)]="currentitem.DiscPercent" type="number" class="form-control" placeholder="PERCENTAGE">
            </div>
            <!-- ----------------------------------/DISCOUNT-------------------------------------- -->
            <br>
            <label style="color: black;"><b>EXTRA</b></label>
            <div class="input-group">
                <input min="1" max="100" step="1" type="number" class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-light" (click)="modal.close('Save click')">Cancel</button> -->
        <div class="mr-auto">
            <h5 class="float-left"> Price : </h5>
            <h5 class="float-right ml-1"><b> {{currentitem.TotalAmount}} </b></h5>
        </div>
        <button type="button" class="btn btn-primary" (click)="addcurrentitem()">Save Changes</button>
    </div>
</ng-template>


<!-- Take Away Right side Drawer -->
<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Payment :" (nzOnClose)="close()"
    [nzWidth]="720">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label style="color: black;"><b>Customer Name</b></label>
                <div class="input-group">
                    <input class="form-control" type="text">
                </div>
                <br>
                <label style="color: black;"><b>Customer Mobile No</b></label>
                <div class="input-group">
                    <nz-input-number class="form-control"></nz-input-number>
                </div>
                <br>
                <label style="color: black;"><b>Customer Email</b></label>
                <div class="input-group">
                    <input class="form-control" type="text">
                </div>
                <br>
                <label style="color: black;" for="note"><b>Address</b></label>
                <textarea class="form-control" id="note" rows="4" name="NOTE" type="text"></textarea>
                <br>
                <label style="color: black;"><b>City</b></label>
                <div class="input-group">
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm">
                <label style="color: black;" for="note"><b>Booking Note</b></label>
                <textarea class="form-control" id="note" rows="4" name="NOTE" type="text"></textarea>
                <br>
                <label style="color: black;"><b>Payment Types</b></label>
                <div class="input-group">
                    <button nz-button nzType="primary" class="mr-3 mb-3"
                        (click)="openCustomClass(Rightside)">Cash</button>
                    <button nz-button nzType="primary" class="mr-3 mb-3">Credit/Debit</button>
                    <button nz-button nzType="primary" class="mr-3 mb-3">Others</button>
                    <button nz-button nzType="primary" class="mr-3 mb-3">Online Payment</button>
                    <button nz-button nzType="primary" class="mr-3 mb-3" (click)="openCustomClass(vertical)">Split
                        Payment</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <nz-footer class="float-right">
        <button nz-button nzType="" class="mr-3 mb-3" (click)="close()"
            style="background-color: red; color: white;">Back</button>
        <button nz-button nzType="" class="mr-3 mb-3"
            style="background-color: rgb(255, 174, 0); color: white;">Unpaid</button>
        <button nz-button nzType="" class="mr-3 mb-3" style="background-color: #52c41a; color: white;">Receive</button>
    </nz-footer>
</nz-drawer>

<!-- Modal for Split Payment -->
<ng-template #vertical let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Split Payment</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label style="color: black;"><b>CASH</b></label>
        <div class="input-group">
            <nz-input-number min="1" max="100" step="1" class="form-control"></nz-input-number>
        </div>
        <br>
        <label style="color: black;"><b>Credit/Debit</b></label>
        <div class="input-group">
            <nz-input-number min="1" max="100" step="1" type="number" class="form-control"></nz-input-number>
        </div>
        <br>
        <label style="color: black;"><b>Other</b></label>
        <div class="input-group">
            <nz-input-number min="1" max="100" step="1" class="form-control"></nz-input-number>
        </div>
        <br>
        <label style="color: black;"><b>Online Payment</b></label>
        <div class="input-group">
            <nz-input-number min="1" max="100" step="1" class="form-control"></nz-input-number>
        </div>
    </div>
    <div class="modal-footer">
        <div class="mr-auto">
            <h5 class="float-left"> Rs : </h5>
            <h5 class="float-right ml-1"><b> </b></h5>
        </div>
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<!-- Modal for Cash balance receive -->
<ng-template #Rightside let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">CASH</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label style="color: black;"><b>CASH</b></label>
        <div class="input-group">
            <nz-input-number min="1" max="100" step="1" class="form-control"></nz-input-number>
        </div>
        <label style="color: black;"><b>Balance</b></label>
        <div class="input-group">
            <nz-input-number min="1" max="100" step="1" class="form-control"></nz-input-number>
        </div>
    </div>
    <div class="modal-footer">
        <div class="mr-auto">
            <h5 class="float-left"> Rs : </h5>
            <h5 class="float-right ml-1"><b> </b></h5>
        </div>
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<!-- Bulk Discount Modal-->
<ng-template #bulkdiscount let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Bulk Discount
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label style="color: black;"><b>DISCOUNT</b></label>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input" #bulkcashdiscount
                        (change)="$event.target.checked" name="discount" id="discount1" checked>
                </div>
            </div>
            <input [disabled]=!bulkcashdiscount.checked type="number" class="form-control" placeholder="CASH">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input" #bulkpercentdiscount
                        (change)="$event.target.checked" name="discount" id="discount2">
                </div>
            </div>
            <input [disabled]=!bulkpercentdiscount.checked type="number" class="form-control" placeholder="PERCENTAGE">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Apply</button>
    </div>
</ng-template>

<!-- Coupon Code Modal -->
<ng-template #couponcode let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Coupon
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label style="color: black;"><b>Enter Coupon Code</b></label>
        <br>
        <div class="input-group">
            <input type="text" nz-input class="form-control">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save Changes</button>
    </div>
</ng-template>

<!-- Addition Charges Modal-->
<ng-template #Additioncharge let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Additional Charge
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label style="color: black;"><b>Packaging Charge %</b></label>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <input type="number" class="form-control">
        </div>
        <br>
        <label style="color: black;"><b>Delivery Charge %</b></label>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <input type="number" class="form-control">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save Changes</button>
    </div>
</ng-template>

<!-- Test Print -->
<!-- <input [(ngModel)]="count" type="number">
<input [(ngModel)]="printer" type="text">
<textarea [(ngModel)]="template" cols="30" rows="10"></textarea>
<button (click)="print()">print</button> -->