<div class="cui__utils__heading mb-3">
  <strong class="text-uppercase font-size-16">Today Statistics</strong>
</div>
<div class="row">
  <div class="col-xl-4">
    <div class="card">
      <kit-chart-11></kit-chart-11>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card">
      <kit-chart-11v1></kit-chart-11v1>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card">
      <kit-chart-11v2></kit-chart-11v2>
    </div>
  </div>
</div>
<div class="cui__utils__heading">
  <strong>Last Month Statistics</strong>
</div>
<div class="row">
  <div class="col-xl-3 col-lg-6">
    <div class="card">
      <div class="card-body">
        <kit-chart-4></kit-chart-4>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card">
      <div class="card-body">
        <kit-chart-4v1></kit-chart-4v1>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card">
      <div class="card-body">
        <kit-chart-4v2></kit-chart-4v2>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card">
      <div class="card-body">
        <kit-chart-4v3></kit-chart-4v3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="cui__utils__heading mb-0">
          <strong>Recently Referrals</strong>
        </div>
        <div class=" text-muted">
          Block with important Recently Referrals information
        </div>
      </div>
      <div class="card-body">
        <nz-table [nzData]="displayReferalsData" [nzShowPagination]="false" class="kit__utils__table">
          <thead (nzSortChange)="sort($event)">
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th nzShowSort nzColumnKey="age">Age</th>
              <th>Date</th>
              <th nzShowSort nzColumnKey="salary">Salary</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of referalsData">
              <td>{{item.name}}</td>
              <td>{{item.position}}</td>
              <td>{{item.office}}</td>
              <td>{{item.age}}</td>
              <td>{{item.date}}</td>
              <td>{{item.salary}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
<div class="cui__utils__heading mb-3">
  <strong class="text-uppercase font-size-16">Your Cards (3)</strong>
  <button nz-button nz-type="default" class="ml-3">View All</button>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <kit-general-17></kit-general-17>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <kit-general-17v1></kit-general-17v1>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <kit-general-17v2></kit-general-17v2>
    </div>
  </div>
</div>
<div class="cui__utils__heading mb-3">
  <strong class="text-uppercase font-size-16">Your Accounts (6)</strong>
  <button nz-button nz-type="default" class="ml-3">View All</button>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <kit-general-18></kit-general-18>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <kit-general-18v1></kit-general-18v1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <kit-general-18v1></kit-general-18v1>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <kit-general-18></kit-general-18>
    </div>
  </div>
</div>
<div class="cui__utils__heading mb-3">
  <strong class="text-uppercase font-size-16">Recent transactions (167)</strong>
  <button nz-button nz-type="default" class="ml-3">View All</button>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <kit-general-6></kit-general-6>
    </div>
    <div class="card">
      <kit-general-6v1></kit-general-6v1>
    </div>
    <div class="card">
      <kit-general-6></kit-general-6>
    </div>
    <div class="card">
      <kit-general-6v1></kit-general-6v1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 text-center">
    <button nz-button nzType="primary" nzLoading class="width-200 mb-5"><i nz-icon nzType="poweroff"></i>Load more
      ...</button>
  </div>
</div>